body {
    margin: 0;
    padding: 0;
    top: 0;
    font-family: inter;

}

:root {
    --taskboxColor: #3D3D3D;
    --secondColor: white;
    --taskHighlight:#2F2F2F;
    --selectorHighlight:#292929;
    
}

/*^Navbar Section*/
.navbar {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}

/*Menu Icon*/
#menu-icon {
    height: 20px;
    margin: 10px;
    
}

/*Main Logo*/
#main-logo {
    height: 40px;
}

/*Avatar*/
#avatar {
    height: 50px;
    border-radius: 30px;
    margin: 10px;
}



/*^Main Page*/
.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 93.5vh;

}

/*Center Section that has the input*/
#center-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    background-color: #3D3D3D;
    height: 75px;
    width: 650px;
    margin-top: -140px;
    position: fixed;
    
}




/*input-section */
#input-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100%;

}



/*Style for the introPhrase for js*/
.intro-phrase {
    color: white;
    font-family: inter;
    font-size: 1.1rem;
}


/*Input box for entering new tasks*/
#input-task {
    width: 540px;
    height: 45px;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 60px;
    text-align: center;
    font-family: inter;
    font-size: 1rem;
    margin-right: -40px;
}

#add-btn {
    border: none;
    color: white;
    background-color: #2F2F2F;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    font-weight: 550;
}



