body {
    margin: 0;
    padding: 0;
    top: 0;
    font-family: inter;

}

:root {
    --taskboxColor: #3D3D3D;
    --secondColor: white;
    --taskHighlight:#2F2F2F;
    --selectorHighlight:#292929;
    
    
}

/*^Navbar Section*/
.navbar {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}

/*Menu Icon*/
#menu-icon {
    height: 20px;
    margin: 20px;
    
}

#menu-icon:hover {
    cursor: pointer;
}

/*Main Logo*/
#main-logo {
    height: 40px;
}

/*Avatar*/
#avatar {
    height: 50px;
    border-radius: 30px;
    margin: 20px;
    /*add drop shadow or border to the avatar icon*/
}

#avatar:hover {
    cursor: pointer;
}





/*^Main Page*/
.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 93.5vh;

}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#center-section-regular {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    background-color: #3D3D3D;
    height: 75px;
    width: 650px;
    margin-top: -140px;
    position: fixed;
}

/*Center Section that has the input*/
#center-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    background-color: #3D3D3D;
    height: 75px;
    width: 650px;
    margin-top: -140px;
    position: fixed;
    transition: padding-bottom, 180ms ease-in-out;
    
}

/* hover effect for the center box */
.box:hover #center-section {
    padding-bottom: 90px;
    cursor: pointer;
}


/*intro phrase that appears when ever the center box is hovered over*/
#introPhrase {
    opacity: 0;
    margin-top: -60px;
    color: white;
    cursor: pointer;
    position: absolute;
    
}

/*When hovered over the box the intro phrase for the center-box animation plays and stays*/
.box:hover #introPhrase {
    will-change: animation;
    animation: Reveal 160ms ease-in forwards;


}


@keyframes Reveal {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    } 100% {
        transform: translateX(0);
        opacity: 1;
    }
}


/*input-section */
#input-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100%;

}




/*Style for the introPhrase for js*/



/*Input box for entering new tasks*/
#input-task {
    width: 540px;
    height: 45px;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 60px;
    text-align: center;
    font-family: inter;
    font-size: 1rem;
    margin-right: -40px;
}

/*Button to add tasks to the list*/
#add-btn {
    border: none;
    color: white;
    background-color: #2F2F2F;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    font-weight: 550;
}

#add-btn:hover {
    background-color: #454545;
    cursor: pointer;
}

#add-btn:active {
    scale: 1.1; /* edit the scale to be smoother animation for when the button is clicked */

}






