body {
    margin: 0;
    padding: 0;
    top: 0;
    font-family: inter;

}

:root {
    --taskboxColor: #3D3D3D;
    --secondColor: white;
    --taskHighlight:#2F2F2F;
    --selectorHighlight:#292929;
    
    
}

/*^Navbar Section*/
.navbar {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}

/*Menu Icon*/
#menu-icon {
    height: 25px;
    margin: 25px;
    
}

#menu-icon:hover {
    cursor: pointer;
}

/*Main Logo*/
#main-logo {
    height: 40px;
}

/*Right Side of the Nav*/
.right-side-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

/*notification bell icon*/
#noti-bell {
    height: 30px;
    width: 30px;
}

/*Avatar*/
#avatar {
    height: 45px;
    border-radius: 30px;
    margin: 20px;
    border: 1px solid #292929;
    /*add drop shadow or border to the avatar icon*/
}

#avatar:hover {
    cursor: pointer;
}





/*^Main Page*/
.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 93.5vh;

}

/*casing that covers the all the elements in the center section*/
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-non-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Possible center section styles if needed for js*/
.center-section-regular {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    background-color: #3D3D3D;
    height: 75px;
    width: 650px;
    margin-top: -140px;
    position: fixed;
    transition: none;
}

/*Center Section that has the input*/
#center-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    background-color: #3D3D3D;
    height: 75px;
    max-height: auto;
    width: 650px;
    margin-top: -140px;
    position: fixed;
    transition: padding-bottom, 180ms ease-in-out;
    padding-bottom: 0;
    
}


#listCase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*intro phrase that appears when ever the center box is hovered over*/
#introPhrase {
    opacity: 0;
    color: white;
    cursor: pointer;
    position: absolute;
}

/*possible styles for intro phrase if needed for js*/
#introPhrase-regular {
    opacity: 0;
}

.phrase-case {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    z-index: 1;
    width: 600px;
    height: 40px;
    margin-top: -55px;
    border-radius: 60px;
    cursor: pointer;
}

.phrase-case-regular {
    opacity: 0;

}

/*Task list styles that effect the layout and styling*/
#task-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*listed items in the unlisted list*/
/*ADD CASING BEHIND THE TEXT*/
.list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    list-style: none;
    font-family: inter;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: #292929;
    height: 40px;
    width: 600px;
    cursor: pointer;
    border-radius: 60px;
    margin-top: 0px;
    margin-right: 30px;
    margin-bottom: 10px;
}

/* hover effect for the center box */
.box:hover #center-section {
    padding-bottom: 70px;
    cursor: pointer;
}

/*Make non-hovering styles*/
.box-non-hover:hover #center-section {
    padding-bottom: 0;
    cursor: pointer;
}


/*When hovered over the box the intro phrase for the center-box animation plays and stays*/
.box:hover #introPhrase {
    will-change: animation;
    animation: Reveal 160ms ease-in forwards;
}

/*Make non-hovering styles*/
.box-non-hover:hover #introPhrase {
    animation: none;
}


.box:hover .phrase-case {
    will-change: animation;
    animation: ExpandCase 185ms ease-in forwards;
}

/*Make non-hovering styles*/
.box-non-hover:hover .phrase-case {
    animation: none
}

@keyframes ExpandCase {
    0% {
        width: 0;
        opacity: 0;
        color: #454545;
    } 100% {
        width: 600px;
        opacity: 1;
        color: #292929;
    }
}

@keyframes Reveal {
    0% {
        transform: translateY(50px);
        opacity: 0;
    } 100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.notActive {
    transition: none;
}


/*input-section */
#input-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100%;

}




/*Style for the introPhrase for js*/



/*Input box for entering new tasks*/
#input-task {
    width: 540px;
    height: 45px;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 60px;
    text-align: center;
    font-family: inter;
    font-size: 1rem;
    margin-right: -40px;
    cursor: text;
}

#input-task:active #center-section {
    transition: none;
    padding-bottom: 0;
}

/*Button to add tasks to the list*/
#add-btn {
    border: none;
    color: white;
    background-color: #2F2F2F;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    font-weight: 550;
}

#add-btn:hover {
    background-color: #454545;
    cursor: pointer;
}

#add-btn:active {
    scale: .9; /* edit the scale to be smoother animation for when the button is clicked */

}






